/* AVATAR INTERATIVO */
.avatar-hover {
  position: relative;
}

.camera-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* HOVER SUAVE */
.avatar-hover:hover .camera-overlay {
  opacity: 1;
}

/* (OPCIONAL) leve zoom na foto ao passar o mouse */
.avatar-hover img {
  transition: transform 0.3s ease;
}

.avatar-hover:hover img {
  transform: scale(1.05);
}